$breakout_color_1: #c67153;
$breakout_color_2: #79b2d2;
$breakout_color_3: #8e6acd;
$breakout_color_4: #cbc062;
$breakout_color_5: #c34b63;
$breakout_color_6: #6ecf99;
$breakout_color_7: #3b68b0;
$warning-red: #dc0000;

.active-bookings {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.capacity {
  stroke-dasharray: 5, 5;
  stroke: #000;
}

.soft_cap {
  stroke-dasharray: 5, 5;
  stroke: $warning-red;
}

.hard_cap {
  stroke: $warning-red;
}

.red_zone_start {
  display: none;
}

.red-zone {
  fill: rgba(167, 62, 69, 0.1);
}

.breakdown-bars {
  height: 1em;
  display: flex;
  margin-bottom: 0.5em;
}

.breakdown-bar {
  display: inline-block;
  height: 100%;

  &:nth-child(7n + 1) { background-color: $breakout_color_1; }
  &:nth-child(7n + 2) { background-color: $breakout_color_2; }
  &:nth-child(7n + 3) { background-color: $breakout_color_3; }
  &:nth-child(7n + 4) { background-color: $breakout_color_4; }
  &:nth-child(7n + 5) { background-color: $breakout_color_5; }
  &:nth-child(7n + 6) { background-color: $breakout_color_6; }
  &:nth-child(7n + 7) { background-color: $breakout_color_7; }
}

.breakdown-row {
  th:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
  }

  &:nth-child(7n + 1) th::before { background-color: $breakout_color_1; }
  &:nth-child(7n + 2) th::before { background-color: $breakout_color_2; }
  &:nth-child(7n + 3) th::before { background-color: $breakout_color_3; }
  &:nth-child(7n + 4) th::before { background-color: $breakout_color_4; }
  &:nth-child(7n + 5) th::before { background-color: $breakout_color_5; }
  &:nth-child(7n + 6) th::before { background-color: $breakout_color_6; }
  &:nth-child(7n + 7) th::before { background-color: $breakout_color_7; }
}
