Hello,
You have been invited to use the Jail Population Management Dashboard. You can accept this invitation and set a password through the link below.
= accept_invitation_url(@resource, :invitation_token => @token)
If you don't want to accept the invitation, please ignore this email.
